Checks: '
-*,
bugprone-*,
cert-*,
cppcoreguidelines-*,
modernize-*,
readability-*,
performance-*,
clang-analyzer-*,
performance-*,
hicpp-*,
-modernize-use-trailing-return-type,
-readability-named-parameter,
-hicpp-named-parameter,
-readability-redundant-access-specifiers,
-cppcoreguidelines-special-member-functions,
-hicpp-special-member-functions,
-cppcoreguidelines-non-private-member-variables-in-classes,
'